.body{
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size: 14px;
    line-height: 1.42857143;
    color: #333;
}

#barra-horizontal{
	height: 65px;
	background-color: white;
}
#barra-horizontal2{
	height: 115px;
	background-color: #37454D;
}
#logoPrincipal{
	padding-top: 20px;
}
#menu-principal{
	height: 65px;
}

#favoritos{
	border-left: 1px solid #EBECED ;
	height: 65px;
	padding-top: 20px;	
}
#moneda{
	border-left: 1px solid #EBECED;
	height: 65px;
	padding-top: 20px;
}
#idioma{
	border-left: 1px solid #EBECED;
	height: 65px;
	padding-top: 20px;

}
#cuenta{
border-left: 1px solid #EBECED;
	height: 65px;
	padding-top: 20px;
}
.input-text{

    font-size: 1rem;
    line-height: 1.25;
    color: #464a4c;
    background-color: #fff;
    border: 1px solid rgba(0,0,0,.15);
}
#linea1{
	padding-top: 12px;

}
#linea2{
	padding-top: 7px;
}
#barra-busqueda{
	border-bottom-right-radius: 0px;
	border-top-right-radius: 0px;
}
#buscar{
	border-radius: 0px;
}
#fecha-entrada{
	padding-top: 10px;
	background-color: white;
	text-align: center;
	margin-right: 7px;
	height:45px; 

}
#fecha-salida{
	padding-top: 10px;
	background-color: white;
	text-align: center;
	height:45px; 
}
#numero-personas{
	padding-top: 10px;
	background-color: white;
	text-align: center;
	margin-left: 7px;
	height:45px; 
}
.envoltura{
	margin: 0px;
	padding: 0px;
}

.margen1{
	margin-top: 0.5em;
}

.borde1{
	padding-top: 1.5em;
	padding-bottom: 1.5em;
	padding-right: 0px;
	padding-left: 0px;
}

.flecha{
	padding-left: 0.5em;
	padding-right: 0.5em;
	background: url(../img/flecha.png) no-repeat right #FFF;
	 -moz-appearance: none;
	 -webkit-appearance: none;
	 appearance: none;
}

.menu-desplegable{
	height: 36px; 
	border-radius: 2px; 
	border: 1px solid #9ba2a6; 
	color: #37454d; 
	font: inherit;
}

.h3-estilo1{
	font-size: 16px; 
	color: #37454d; 
	margin-left: 1em;
}

.estilo-dropdown-menu{
	text-align: left; 
	vertical-align: middle; 
	height: 36px;
	width: 100%; 
	display: inline-block; 
	border-radius: 2px; 
	border-top: 0;
    border-right: 0; 
    border-left: 0; 
    cursor: pointer; 	
    padding: 0.4em;
    margin: 0.2em;
    width: 98%
}

.i-compartir-enlace{
	resize: none;
    margin-bottom: 8px;
    min-height: 40px;
    max-height: 40px;
    padding: 12px 4px;
    line-height: 1.25;
    font-size: 12px;
    text-align: left;
    background-color: transparent;
    border: 1px solid #9ba2a6;
    border-radius: 2px;
    color: #37454d;
    height: 44px;
    width: 100%;
    display: block;
    font: inherit;
    margin: 0;
    overflow: visible;
}

.sinborde{
	margin: 0px;
}

.sinborde2{
	margin: 10px;
}

.cont-inf-hot{
	padding: 8px;
	border: 1px solid #cdd0d2;
	margin: 10px;
	background-color: #ffffff;
	border-radius: 2px;
	height: 165px;
}

.borde2{
	padding: 0px;
	height: 100%;
}

.img{
	height: 100%;
	width: 100%;
}

.cont-inf-hot-nombre{
	font-size: 20px;
	line-height: 1.25;
	text-align: left;
	text-overflow: ellipsis;
	width: 100%;
	display: block;
	font-weight: bold;
	-webkit-margin-before: 1em;
    -webkit-margin-after: 1em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}

.estrellas-puntuacion{
	padding-left: 10px;
	color: #f6ab3f;
}

.borde3{
	padding-left: 10px;
}

#direccion-hotel{
	color: #37454d;	
}

.sinborde3{
	margin: 0px;
	padding: 0px;
}

.oferta-precio{
	border-right: 1px solid #cdd0d2;
	border-left: 1px solid #cdd0d2;
	color: #697379;
	font-size: 12px;
	font-weight: bold;
}